<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="metro4:init" content="false">

  <!-- Metro 4 -->
  <link rel="stylesheet" href="metro-all.min.css">
  <style type="text/css">
    body {
      background-color: powderblue;
    }

    input:required {
      background-color: azure;
    }
  </style>

</head>

<body>
  <ul data-role="tabs" data-tabs-type="pills" data-expand="true">
    <li><a href="#tab1">Trang chủ</a></li>
    <li><a href="#tab3">Hướng dẫn</a></li>
  </ul>

  <div class="border bd-default no-border-top p-2">
    <div id="tab1">

      <div class="card" id="tinhtoan">

        <div class="card-content p-2">
          <input type="radio" data-role="radio" :data-caption="OD" v-model="eye" value="Mắt phải (OD)" required>
          <input type="radio" data-role="radio" :data-caption="OS" v-model="eye" value="Mắt trái (OS)" required>
          <input type="number" data-role="input" :data-prepend="cap_AL" v-model="AL" data-history="true" required>
          <input type="number" data-role="input" :data-prepend="cap_ACD" v-model="ACD" data-history="true">
          <input type="number" data-role="input" :data-prepend="cap_K1" v-model="K1" data-history="true" required>
          <input type="number" data-role="input" :data-prepend="cap_K2" v-model="K2" data-history="true" required>
          <hr>
          <input type="number" data-role="input" data-prepend="A-const" v-model="AConst" @keyup="updateA"
            data-history="true" required>
          <hr>
          <select data-role="select" :data-prepend="cap_IOL" @change="updateA" v-model="selectedIOL">
            <option value="" disabled selected>Chọn một mẫu thể thủy tinh</option>
            <option v-for="iol in IOLList" :value="iol">
              {{iol.text}}
            </option>
          </select>
          <hr>
          <input type="number" data-role="input" data-prepend="pACD" v-model="pACD" disabled>
          <input type="number" data-role="input" data-prepend="SF" v-model="SF" disabled>
          <input type="number" data-role="input" data-prepend="a0" v-model="a0" disabled>
          <input type="number" data-role="input" data-prepend="a1" v-model="a1" disabled>
          <input type="number" data-role="input" data-prepend="a2" v-model="a2" disabled>

        </div>
        <div class="card-footer p-2">
          <button class="button ribbed-red fg-white" v-on:click="showTable">{{ cap_calculate }}</button>
          <button class="button ribbed-red fg-white" v-on:click="reset">{{ cap_reset }}</button>
        </div>

        <div class="dialog" data-role="dialog" id="idDialog" data-close-button="true" data-actions-align="left"
          data-width="90%">
          <div class="dialog-title">{{cap_dialogtitle}}</div>
          <div class="dialog-content">

            <table style="width: 100%;" id="idTableR">

              <thead>
                <tr>
                  <td>IOL</td>
                  <td>SRK/T</td>
                  <td>Holl</td>
                  <td>Hoff</td>
                  <td>Haigis</td>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                </tr>


                <tr>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                </tr>

                <tr>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                </tr>

                <tr>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                </tr>

                <tr>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                </tr>

                <tr>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                </tr>

                <tr>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td>N/A</td>
                </tr>
              </tbody>
              <tr>
                <td style="color: red;">SRK</td>
                <td vmodel="SRKI">{{SRKI}}</td>
              </tr>
              <tr>
                <td style="color: red;">SRKII</td>
                <td vmodel="SRKII">{{SRKII}}</td>
              </tr>
            </table>



          </div>
          <div class="dialog-actions">
            <button class="button primary" onclick="Metro.dialog.close('#idDialog')">{{cap_dialogButton}}</button>
          </div>
        </div>

      </div>

    </div>
    <div id="tab3">
      <h2 style="text-align: center;">Hướng dẫn</h2>

      <div class="card">
        <div class="card-header">
          <h4>Cách sử dụng</h4>
        </div>
        <div class="card-content p-2">
          <h5>Phần mềm tính công suất thể thủy tinh nhân tạo</h5>
          <h5>Nhập các thông số Khúc xạ: K1, K2; Trục nhãn cầu: AL, Hằng số IOL: A hoặc loại IOL trong danh sách</h5>
          <h5>Bấm nút Tính và đọc kết quả là số IOL có độ chênh nhỏ nhất hoặc phù hợp với nhu cầu thị lực của BN</h5>
          <h5>Bấm nút Lưu sau đó điền loại IOL và công suất của IOL đó, dữ liệu sẽ được lưu vào bảng ở Tab bên cạnh</h5>
          <h5>Những thắc mắc khác xin liên hệ với tác giả ở Menu liên hệ</h5>

        </div>
        <div class="card-footer">
          <div class="img-container" style="text-align: center;">
            <img src="iol.jpg" style="width: 90%;">
            <div class="image-overlay op-amber"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Metro 4 -->
  <script src="vcalculator.js"></script>
  <script src="metro.min.js"></script>
  <script src="vue.js"></script>

  <script type="text/javascript">
    var tinhtoan = new Vue({
      el: '#tinhtoan',
      data: {
        cap_head: 'Thông số',
        OD: 'Mắt phải (OD)',
        OS: 'Mắt trái (OS)',
        cap_AL: 'Chiều dài trục NC (L)',
        cap_ACD: 'Độ sâu TP (ACD)',
        cap_K1: 'K1',
        cap_K2: 'K2',
        cap_reset: 'Nhập lại',
        cap_IOL: 'Loại IOL',
        cap_calculate: 'Tính!',
        cap_dialogButton: 'Đóng',
        cap_dialogtitle: 'Kết quả',
        eye: '',
        AL: '',
        ACD: '',
        K1: '',
        K2: '',
        AConst: '',
        pACD: '',
        SF: '',
        a0: '',
        a1: '',
        a2: '',
        SRKI: '',
        SRKII: '',
        chosenIOL: '',
        selectedIOL: { id: 0, text: '', AConst: '0' },
        IOLList: [
          //{ id: 0, text: '', AConst: '0' },
          { id: 1, text: 'Micropure 123 (SA nhúng)', AConst: '119' },
          { id: 2, text: 'Micropure 123 (IOL master)', AConst: '119.4' },
          { id: 3, text: 'HOYA 250; 251; 254; 255; 351; 150; 151', AConst: '118.5' },
          { id: 4, text: 'AT Liza 809M', AConst: '117.8' },
          { id: 5, text: 'AT Liza 839M', AConst: '118.8' },
          { id: 6, text: 'CT Atphina', AConst: '118.0' },
          { id: 7, text: 'CT Lucia 601PY', AConst: '119.1' },
          { id: 8, text: 'CZ 70 BD', AConst: '118.8' },
          { id: 9, text: 'Fine Vision PODF (SA Nhúng)', AConst: '118.73' },
          { id: 10, text: 'Fine Vision PODF (IOL master)', AConst: '118.95' },
          { id: 11, text: 'Hoya 125', AConst: '118.4' },
          { id: 12, text: 'IQ SN60WF', AConst: '118.7' },
          { id: 13, text: 'IQ Toric SN6AT5', AConst: '119' },
          { id: 14, text: 'KS-SP', AConst: '119.1' },
          { id: 15, text: 'Overview', AConst: '118.8' },
          { id: 16, text: 'Precisal', AConst: '118.7' },
          { id: 17, text: 'Restor SN6AD1', AConst: '118.9' },
          { id: 18, text: 'Restor SV25TO', AConst: '119.1' },
          { id: 19, text: 'Sensar 1', AConst: '118.4' },
          { id: 20, text: 'Super flex', AConst: '118.0' },
          { id: 21, text: 'Tecnis ZA9003', AConst: '119.1' },
          { id: 22, text: 'Tecnis ZCBOO (SA nhúng)', AConst: '119.3' },
          { id: 23, text: 'Tecnis ZCBOO (IOL master)', AConst: '118.8' },
          { id: 24, text: 'Tecnis ZXROO', AConst: '119.3' },
          { id: 25, text: 'Tecnis ZMBOO', AConst: '119.3' }
        ]
      },
      mounted: function () {
        Metro.init();
      },
      methods: {
        updateIOL: function (event) {

        },
        WriteToTable: function (row, col, mytext, color) {
          mytable = document.getElementById("idTableR") //first table in document
          mytablebody = mytable.getElementsByTagName("tbody")[0];  //first table body
          myrow = mytablebody.getElementsByTagName("tr")[row]; //passed row value
          mycell = myrow.getElementsByTagName("td")[col]; //passed col value

          console.log(row, col, mytext, color)

          with (mycell) {
            firstChild.nodeValue = mytext;
            style.fontWeight = 'normal';
            style.color = color;
          }
        },

        MainCalc: function () {
          var MyK1 = parseFloat(this.K1);
          var MyK2 = parseFloat(this.K2);
          var MyAL = parseFloat(this.AL);

          var MySF = parseFloat(this.SF);
          var MypACD = parseFloat(this.pACD);
          var MyAconst = parseFloat(this.AConst);

          var MyACD = parseFloat(this.ACD); //used for Haigis calculation

          var MyA0 = parseFloat(this.a0);
          var MyA1 = parseFloat(this.a1);
          var MyA2 = parseFloat(this.a2);

          var MyTargRx = parseFloat('0');
          var MyAxis1 = parseFloat('0');
          var MyAxis2 = parseFloat('0');

          var Kavg = (MyK1 + MyK2) / 2;

          this.SRKI = (MyAconst - 2.5 * MyAL - 0.9 * Kavg).toFixed(2);

          var srkIIAConst = MyAconst;
          if (MyAL < 20.0) { srkIIAConst += 1.5; }
          if ((MyAL >= 20.0) && (MyAL < 21.0)) { srkIIAConst += 1.0; }
          if ((MyAL >= 21.0) && (MyAL < 22.0)) { srkIIAConst += 0.5; }
          if ((MyAL >= 24.5) && (MyAL < 26.0)) { srkIIAConst -= 1.0; }
          if (MyAL > 26.0) { srkIIAConst -= 1.5; }

          this.SRKII = (srkIIAConst - 2.5 * MyAL - 0.9 * Kavg).toFixed(2);


          var BigAxis;

          if (MyK1 >= MyK2) {
            BigAxis = MyAxis1;
          }
          else {
            BigAxis = MyAxis2;
          }

          var TheCyl = Math.abs(MyK1 - MyK2);
          var TheR = (337.5 / MyK1 + 337.5 / MyK2) / 2;

          var cylStr = "CYL:  " + TheCyl.toFixed(2) + " @ " + BigAxis + "\u00B0 \u00A0 \u00A0 \u00A0 Kavg = " + Kavg.toFixed(2) + " D (" + TheR.toFixed(2) + " mm)";

          var HollValue = HolladayIOL(MyK1, MyK2, MyAL, MySF, MyTargRx);
          var HoffValue = HofferQiol(MyK1, MyK2, MyAL, MypACD, MyTargRx);
          var SRKTValue = SRKtIOL(MyK1, MyK2, MyAL, MyAconst, MyTargRx);
          var HaigisValue = HaigisIOL(MyK1, MyK2, MyAL, MyAconst, MyACD, MyTargRx, MyA2, MyA1, MyA0);

          var SRKTVal = SRKTValue.toFixed(2);
          var HoffVal = HoffValue.toFixed(2);
          var HollVal = HollValue.toFixed(2);
          var HaigisVal = HaigisValue.toFixed(2);

          console.log("ACD: " + MyACD)
          console.log("MyK1: " + MyK1)
          console.log("MyK2: " + MyK2)
          console.log("MyAL: " + MyAL)
          console.log("MySF: " + MySF)
          console.log("MypACD: " + MypACD)
          console.log("MyAconst: " + MyAconst)
          console.log("SRKI: " + this.SRKI)
          console.log("SRKII: " + this.SRKII)

          console.log("SRKTValue: " + SRKTValue)
          console.log("HollValue: " + HollValue)
          console.log("HoffValue: " + HoffValue)
          console.log("HaigisValue: " + HaigisValue)

          var CenterIOL = 0;
          var MySpec = '0.5';
          CenterIOL = RoundToSpec(HollValue, MySpec);

          IOLarray = new Array(7);//array to store table IOLs		
          //fill in the table IOLs, centered around the rounded, Holladay emmetropic IOL
          for (i = 0; i < 7; i++) {
            var TheIOL = CenterIOL + MySpec * (3)
            IOLarray[i] = TheIOL; //fill the array with these IOL values to use later
            this.WriteToTable(i, 0, IOLarray[i].toFixed(2), "blue");
            CenterIOL -= MySpec;
          }

          for (i = 0; i < 7; i++) {

            var HollRxCalc = Holl(MyK1, MyK2, MyAL, MySF, IOLarray[i]);
            var HoffRxCalc = HoffQ(MyK1, MyK2, MyAL, MypACD, IOLarray[i]);
            var SRKTRxCalc = SRK_T(MyK1, MyK2, MyAL, MyAconst, IOLarray[i]);
            var HaigisRxCalc = HaigisRx(MyK1, MyK2, MyAL, MyAconst, MyACD, IOLarray[i], MyA2, MyA1, MyA0);

            this.WriteToTable(i, 1, SRKTRxCalc.toFixed(2), "black");
            this.WriteToTable(i, 2, HollRxCalc.toFixed(2), "black");
            this.WriteToTable(i, 3, HoffRxCalc.toFixed(2), "black");
            this.WriteToTable(i, 4, HaigisRxCalc.toFixed(2), "black");
          }

        },

        updateA: function (event) {
          //console.log(event.target)
          //nội suy SF từ AConst
          if (this.selectedIOL.AConst != '0')
            this.AConst = this.selectedIOL.AConst;
          var MyAcon = parseFloat(this.AConst);
          var My_SF = (MyAcon * 0.5663) - 65.600;
          this.SF = My_SF.toFixed(2);
          //nội suy pACD từ AConst
          var My_pACD = ((MyAcon * 0.5663) - 65.600 + 3.595) / 0.9704;
          this.pACD = My_pACD.toFixed(2);
          //nội suy các hằng số Haigis a0, a1, a2
          var My_AL = parseFloat(this.AL);
          this.a1 = '0.4';
          this.a2 = '0.1';
          var My_ACDconst = 0.62467 * MyAcon - 68.747;
          var My_a0 = My_ACDconst - 0.4 * 3.37 - 0.1 * 23.39;
          this.a0 = My_a0.toFixed(2);
        },
        showTable: function (event) {
          this.MainCalc();
          Metro.dialog.open('#idDialog')
        },
        reset: function (event) {
          this.AL = '';
          this.ACD = '';
          this.K1 = '';
          this.K2 = '';
        },
      }

    })


  </script>




</body>

</html>